#header {
  background-color: #5F9EA0;
  padding: 40px;
  padding-top: 30px;
}

#header img {
  height: 80px;
  float: left;
  margin: 0;
}

#header h1 {
  text-align: center;
  margin: auto;
  color: white;
  font-size: 2.8em;;
}

#header h2 {
  text-align: center;
  margin: auto;
  color: white;
  font-size: 1.5em;
  margin-top: 0.6em;
}

#fig_oil_top_10, #fig_oil_consu_plot, 
#fig_coal_top_10, #fig_coal_consu_plot,
 #fig_ren_consu_plot {
    height: 400px;
}

#fig_oil_consu_slider, #fig_coal_consu_slider, #fig_ren_top_10{
    height: 400px;
    width: 1000px;

}
#fig_stacked_renew, #fig_ren_top_10{
    height: 400px;
    width: 600px;
}

#fig_oil_choropleth, #fig_coal_choropleth{
    height: 350px;
}

/* #fig_gauge_ren, #fig_gauge_non_ren{
    height: 400px;
} */

.row {
    display: flex;
    background-color: #283142;
    border-radius: 10px;
    width: 97%;
    margin: auto;
    padding: 10px;
    }

.row-slider {
    width:100%;
    background-color: #283142;
}

.row-drop {
    width: 50%;
}

.main_row {
    width: 100%;
    background-color: #283142;
}
.row-tabs-intro{
    display: flex;
    background-color: #c4ae70;
    border-radius: 10px;
    width: 97%;
    margin: auto;
    padding: 10px;
}

.row-tabs-intro-final{
    display: flex;
    background-color: #c4ae70;
    border-radius: 10px;
    width: 97%;
    margin: auto;
    padding: 10px;
    margin-top:25px;
    margin-bottom:20px;
}

.tabs-intro{
    padding-left: 10px;
    padding-bottom: 4px;
    font-size: 1.4vw;
    color: black;
}

footer {
    text-align: center;
    /* margin-top: 40px; */
    padding: 20px;
    background-color: #5F9EA0;
  }
  
  
  footer h1 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
  }

  .Select-control {
    background-color: rgb(25, 25, 25) !important;
    color:white;
  }
  
.Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}

.Select-value-label {
    color: white !important;
}

